/* Screen-level styles */
@import "./login.scss";
@import "./signup.scss";
@import "./register.scss";
@import "./roleLogin.scss";
@import "./home.scss";
@import "./bookAppointment.scss";
@import "./profile.scss";
@import "./manageProfile.scss";
@import "./forgotPassword.scss";
@import "./resetPassword.scss";
@import "./notification.scss";





