/* Ionic Core CSS (REQUIRED) */
@import "@ionic/react/css/core.css";
@import "@ionic/react/css/normalize.css";
@import "@ionic/react/css/structure.css";
@import "@ionic/react/css/typography.css";

/* Ionic Utility CSS */
@import "@ionic/react/css/padding.css";
@import "@ionic/react/css/flex-utils.css";
@import "@ionic/react/css/display.css";

/* Global Design Tokens */
:root {
  --ion-font-family: -apple-system, BlinkMacSystemFont,
    "San Francisco", "Roboto", "Helvetica Neue", Arial, sans-serif;

  --ion-background-color: #f7f9fc;

  --color-primary: #2563eb;
  --color-success: #16a34a;
  --color-muted: #6b7280;
}





/* BOTTOM TAB BAR CUSTOM STYLE */
ion-tab-bar {
    --background: #ffffff;
    --border-color: #e5e7eb;
    border-top: 1px solid var(--border-color);
    padding: 4px 0;
    height: 62px;
  }
  
  ion-tab-button {
    --color: #9ca3af; /* inactive */
    --color-selected: #2563eb; /* active */
    padding-top: 6px;
    padding-bottom: 6px;
  }
  
  ion-tab-button ion-icon {
    font-size: 22px;
  }
  
  ion-tab-button.tab-selected ion-label {
    font-weight: 600;
  }
  
  /* ACTIVE INDICATOR */
  /* ion-tab-button.tab-selected::after {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    width: 28px;
    height: 4px;
    background: #2563eb;
    border-radius: 999px;
  } */
  